
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="template/favicon.ico">

    <title>Life with Style</title>

    <link href="library/css/bootstrap.css" rel="stylesheet">
    <link href="template/css/carusel.css" rel="stylesheet">
    <link href="template/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <script src="library/jquery-3.1.1.min.js"></script>
    <script src="template/script.js?v=1.2"></script>
</head>

<body>

<header class="b-header">
    <nav class="navbar navbar-inverse navbar-fixed-top b-top-menu">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="#order">Оставить заявку</a>
            </div>
            <!--<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#order">Оставить заявку</a></li>
                </ul>
            </div>--><!--/.navbar-collapse -->
        </div>
    </nav>
    <div style="height: 80px;"></div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="display:none;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item active">
                <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="b-greeting" id="order">
        <div class="col-xs-12">
            <p>Привет, меня зовут Андриевская Любовь. Я живу в Ижевске и шью одежду на заказ.</p>
            <p>Ты можешь найти множество примеров моих работ на моей страничке <a target="_blank" href="https://vk.com/andrievskaya_l">Вконтакте</a> и в <a target="_blank" href="https://www.instagram.com/andrievskaya_lyubov/">Instagram</a>.</p>
            <p>Хочешь заказать сваденое платье, костюм, пальто или что-нибудь ещё?
            Оставь заявку мне на электронную почту и я обязательно с тобой свяжусь! <span class="">(или добавь меня в друзья <a target="_blank" href="https://vk.com/andrievskaya_l">Вконтакте</a>☺)</span>
            </p>
            <div class="b-greeting__form">
                <div class="b-greeting__form-message b-form-message pull-right hidden-xs hidden-sm" style="display:none;"></div>
                <form class="b-order-form" id="order-form" method="post" name="order-form">
                    <input type="hidden" name="csrf_token" value="<?= $csrfToken; ?>">
                    <fieldset class="col-sm-6">
                        <input type="text" name="email" id="" class="b-order-form__input" placeholder="Email">
                    </fieldset>
                    <fieldset class="col-sm-6">
                        <input type="text" name="phone" id=""  class="b-order-form__input" placeholder="или телефон">
                    </fieldset>
                    <fieldset class="col-xs-12">
                        <textarea class="b-order-form__textarea" placeholder="Добавь краткий комментарий" name="comment"></textarea>
                    </fieldset>
                    <fieldset class="col-xs-12">
                        <input type="submit" value="Отправить" class="b-order-form__submit">
                    </fieldset>
                    <div style="clear: both;"></div>
                    <div class="b-greeting__form-message b-form-message hidden-md hidden-lg" style="display: none;"></div>
                </form>
                <div class="b-form-success" style="display:none;">Заявка отправлена. Спасибо! Я отвечу как только смогу.</div>
                <div class="b-form-fail" style="display:none;">Не могу отправить заявку. Что-то сломалось. Попробуй связаться со мной <a target="_blank" href="https://vk.com/andrievskaya_l">Вконтакте</a> или воспользуйся этой формой позднее.</div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</header><!-- .header-->

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-6 b-promo">
            <img class="img-responsive center-block b-promo-img" src="template/img/image2.jpg" alt="">
            <div class="b-promo-text text-center">
                <div class="b-promo-text__title-wrapper"><h3 class="b-promo-text__title">Вечерние платья</h3></div>
                <div class="b-promo-text__text">Уникальный стиль, индивидуальный подход.</div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive center-block" src="template/img/image1.jpg" alt="">
        </div>
    </div>

    <div class="featurette-divider"></div>

    <div class="row featurette">
        <div class="col-md-6 col-md-push-6 b-promo">
            <img class="img-responsive center-block b-promo-img" src="template/img/image4.jpg" alt="">
            <div class="b-promo-text text-center">
                <div class="b-promo-text__title-wrapper"><h3 class="b-promo-text__title">Свадебные платья</h3></div>
                <div class="b-promo-text__text">Неповторимый дизайн поможет сделать день свадьбы незабываемым</div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <img class="img-responsive center-block" src="template/img/image3.jpg" alt="">
        </div>
    </div>

    <div class="featurette-divider"></div>

    <div class="row featurette">
        <div class="col-md-6 b-promo">
            <img class="img-responsive center-block b-promo-img" src="template/img/image5.jpg" alt="">
            <div class="b-promo-text text-center">
                <div class="b-promo-text__title-wrapper"><h3 class="b-promo-text__title">Мужские костюмы</h3></div>
                <div class="b-promo-text__text">Для тех, кто хочет выглядеть элегантно</div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive center-block" src="template/img/image6.jpg" alt="">
        </div>
    </div>

<!--    <hr class="featurette-divider visible-lg">-->

    <!-- Three columns of text below the carousel -->
    <div class="row visible-lg hidden-lg">
        <div class="col-lg-offset-1 col-lg-10 text-center b-img-grid">
            <div class="row">
                <img class="col-lg-4" src="holder.js/300x200?auto=yes&bg=#555" alt="">
                <div class="col-lg-4 b-img-grid__text-cell">
                    <h3>Cool stuff</h3>
                    <p class="">Lorem Ipsum</p>
                </div>
                <img class="col-lg-4" src="holder.js/300x200?auto=yes&bg=#555" alt="">
            </div>
            <div class="row">
                <div class="col-lg-4 b-img-grid__text-cell">
                    <h3>Cool stuff</h3>
                    <p class="">Lorem Ipsum</p>
                </div>
                <img class="col-lg-4" src="holder.js/300x200?auto=yes&bg=#555" alt="">
                <div class="col-lg-4 b-img-grid__text-cell">
                    <h3>Cool stuff</h3>
                    <p class="">Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <footer>
        <p class="pull-right" style="display:none;"><a href="#">Back to top</a></p>
        <p>© <?php echo date('Y'); ?> Andrievskaya Lubov. · <a target="_blank" href="https://vk.com/andrievskaya_l">VK</a> · <a target="_blank" href="https://www.instagram.com/andrievskaya_lyubov/">Instagram</a></p>
    </footer>

</div>



<script src="template/js/holder.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="library/js/bootstrap.js"></script>
<script src="template/js/script.js"></script>
</body>
</html>
