@font-face {
    font-family: 'andy';
    src: url('../fonts/andy.eot');
    src: url('../fonts/andy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/andy.woff') format('woff'),
        url('../fonts/andy.ttf') format('truetype'),
        url('../fonts/andy.svg#andy') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #e0dcd4;
    color: rgb(132, 130, 128);
}

h1, h2, h3, h4, h5, h6 {
    /*margin: 0 0 20px 0;*/
    /*font-family: Arial, serif;*/
    /*font-weight: normal;*/
    /*color: #736b68;*/
}

input {
    outline: none;
}

.featurette-divider, .nav-divider {
    border-color: rgb(179, 177, 170);
}

/* Header
-----------------------------------------------------------------------------*/
.b-header {

}
.b-header a {

}
.b-header a:hover {

}

.b-top-menu.navbar-inverse,
.b-top-menu.navbar-inverse.navbar-collapse,
.b-top-menu.navbar-inverse .navbar-collapse {
    background: #3b3834;
    color: #9d9d9d;
}
.b-top-menu.navbar-inverse a {
    color: #9d9d9d;
}
.b-top-menu.navbar-inverse .navbar-nav > li > a:hover,
.b-top-menu.navbar-inverse .navbar-nav > li > a:focus {
    color: #d0d0d0;
}

.b-promo {
    margin-bottom: 25px;
}

.b-promo-text__text {
    /*font-family: "Times New Roman", serif;*/
    font-size: 1.35em;
}
.b-promo-text__title-wrapper {
    position: relative;
}
.b-promo-text__title {
    padding-bottom: 30px;
    font-size: 1.5em;
    line-height: 1.55em;
    font-weight: normal;
    /*text-transform: uppercase;*/
}
.b-promo-text__title:before {
    position: absolute;
    content: "\e606";
    bottom: -6.5px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    color: rgba(132, 130, 128, 0.3);
    font-family: 'andy';
    speak: none;
    font-size: 13px;
}
.b-promo-img {
    margin-bottom: 120px;
}
@media (max-width: 991px) {
    .b-promo-img {
        margin-bottom: 25px;
    }
}

.b-img-grid {

}
.b-img-grid__text-cell {
    padding-top: 30px;
}
.b-greeting {
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 40px;
    max-width: 740px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.b-greeting__form {
    border-top: 1px solid rgba(84, 84, 84, 0.6);
    margin-top: 20px;
    padding-top: 15px;
    min-height: 170px;
}
.b-form-message {
    background: rgba(183, 18, 27, 0.25);
    border: 1px solid rgba(193, 16, 25, 0.25);
    border-radius: 4px;
    color: #ffffff;
    display: none;
    font-size: 13px;
    margin-top: 11px;
    padding: 5px;
    width: 100%;
}
@media (min-width: 992px) {
    .b-form-message {
        width: 113px;
    }
}

.b-order-form {
    max-width: 480px;
}

.b-order-form__input, .b-order-form__textarea, .b-order-form__submit {
    border: 1px solid rgba(179, 177, 170, 0.5);
    border-radius: 4px;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
.b-order-form__input {

}
.b-order-form__textarea {

}
.b-order-form__submit {
    background: rgb(127, 125, 123);
    color: #dcdcdc;
    margin: auto;
}

.b-form-success {
    color: rgba(24, 102, 85, 0.75);
}
.b-form-fail {
    color: rgba(159, 15, 24, 0.75);
}
.b-form-success, .b-form-fail {
    font-weight: 400;
    max-width: 500px;
}
.b-order-form, .b-form-success, .b-form-fail {
    font-weight: normal;
    margin: 10px auto 0;
}