<?php
$question    = empty( $params['question']) ? '' : htmlspecialchars( $params['question'] );
$description = empty( $params['description']) ? '' : htmlspecialchars( $params['description'] );
$number      = empty( $params['number']) ? '' : htmlspecialchars( $params['number'] );
$decisionYes = empty( $params['decision_yes'] ) ? '' : htmlspecialchars( $params['decision_yes'] );
$decisionNo  = empty( $params['decision_no'] ) ? '' : htmlspecialchars( $params['decision_no'] );
$id = empty( $params['id'] ) ? '' : htmlspecialchars( $params['id'] );
$csrfToken = htmlspecialchars( $params['csrf_token'] );

?><form action="<?= Router::route( [ 'task' => 'questions.save' ] ); ?>" method="post">
    <label for="question">Вопрос:</label>
    <br />
    <input type="text" id="question" name="question" value="<?= $question; ?>" />
    <br />
    <label for="description">Описание вопроса:</label>
    <br />
    <textarea name="description" id="description" rows="14" cols="50" ><?= $description; ?></textarea>
    <br />
    <label for="number">Номер вопроса:</label>
    <br />
    <input type="text" id="number" name="number" size="2" value="<?= $number; ?>" />
    <br />
    <label for="decision-yes">Ответ "да":</label>
    <br />
    <textarea name="decision_yes" id="decision-yes" rows="14" cols="50" ><?= $decisionYes; ?></textarea>
    <br />
    <label for="decision-no">Ответ "нет":</label>
    <br />
    <textarea name="decision_no" id="decision-no" rows="14" cols="50" ><?= $decisionNo; ?></textarea>
    <br />
    <input type="hidden" name="csrf_token" value="<?= $csrfToken; ?>" />
    <button>Сохранить</button>
    <a href="<?= Router::route( [ 'task' => 'questions' ] ); ?>">Отмена</a>
    <?php if ( $id ): ?>
        <input type="hidden" name="id" value="<?= $id; ?>" />
    <?php endif; ?>
</form>