<?php
$deleteLink = Router::route( [ 'task' => 'questions.delete', 'id' => $item->id, ] );
$editLink = Router::route( [ 'task' => 'questions.edit', 'id' => $item->id, ] );
?><tr>
    <td><?= htmlspecialchars($item->order_number); ?></td>
    <td><?= htmlspecialchars($item->question); ?></td>
    <td><?= htmlspecialchars($item->description); ?></td>
    <td><?= htmlspecialchars($item->decision_yes); ?></td>
    <td><?= htmlspecialchars($item->decision_no); ?></td>
    <td><a href="<?= $editLink; ?>">[Править]</a></td>
    <td><a href="<?= $deleteLink; ?>" class="b-question-remove-link" data-number="<?= htmlspecialchars($item->order_number); ?>">[Удалить]</a></td>
</tr>
