<?php
$page = $params['page'];
$pagesCount = $params['pages_count'];

$start = $page - $page % 20;
$start = $start < 1 ? 1 : $start;
$left = $page - 1;
$left = $left < 1 ? 1 : $left;

$end = $start + 19;
$end = $end > $pagesCount ? $pagesCount : $end;
$right = $page + 1;
$right = $right > $pagesCount ? $pagesCount : $right;
?><table class="b-admin-table b-admin-table_requests">
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Должность</th>
        <th>Ответы</th>
        <th title="Было ли отправлено письмо">Успех</th>
    </tr>
    <?php foreach ( $params['requests'] as $item ): ?>
        <?php require __DIR__ . '/_request.phtml'; ?>
    <?php endforeach; ?>
</table>
<div>
    <a href="<?= Router::route( [ 'task' => 'requests', 'page' => 1 ] ); ?>">|&lt;</a>
    <a href="<?= Router::route( [ 'task' => 'requests', 'page' => $left ] ); ?>">&lt;&lt;</a>
    <?php for ( $i = $start; $i <= $end; $i++ ):
        $link = Router::route( [ 'task' => 'requests', 'page' => $i ] );
        ?>
        <a href="<?= $link; ?>" class="<?= $i == $page ? 'bold' : ''; ?>"><?= htmlspecialchars( $i ); ?></a>
    <?php endfor; ?>
    <a href="<?= Router::route( [ 'task' => 'requests', 'page' => $right ] ); ?>">&gt;&gt;</a>
    <a href="<?= Router::route( [ 'task' => 'requests', 'page' => $pagesCount ] ); ?>">&gt;|</a>
</div>