<tr>
    <td><?= htmlspecialchars( $item->id ); ?></td>
    <td title="<?= date( 'd.m.Y H:i:s', strtotime( $item->added_on ) ); ?>"><?= date( 'd.m H:i:s', strtotime( $item->added_on ) ); ?></td>
    <td><?= htmlspecialchars( $item->name ); ?></td>
    <td><?= htmlspecialchars( $item->email ); ?></td>
    <td><?= htmlspecialchars( $item->position ); ?></td>
    <td title="<?= htmlspecialchars( $item->answers ); ?>"><?= htmlspecialchars( $item->answers ); ?></td>
    <td><span><?= $item->success ? 'Да' : 'Нет'; ?></span></td>
</tr>
